<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payments</title>
</head>
<body style="background-color: rosybrown">


<form action="" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <input type="number" class="form-control" placeholder="Enter Amount" name="amount" required>
    </div>
    <br>

    <div class="form-group">
        <input type="number" class="form-control" placeholder="Enter Phone Number" name="phone" required>
    </div>
    <br>

    <div class="d-grid gap-2">
        <button style="cursor: pointer" class="btn btn-success mt-2"  type="submit">Pay</button>
    </div>



</form>

</body>
</html>